*.jar
*.*db
*.zip
*.gz
*.schematic
*.schem
pkcs.p12
*.key
/logs/*
*.log*
.vscode
.local
.cache
.ssh
.vscode-server
cache
libraries
logs/
/FlameCord
/pluGET
TFB-Lobby/plugins/LuckPerms/editor-keystore.json
TFB-Flamecord/plugins/BuycraftX/config.properties
.vscode/sftp.json
*/plugins/Essentials/userdata/*
TFB-Lobby/plugins/EssentialsGeoIP/config.yml
TFB-Lobby/plugins/BuycraftX/config.properties
