*.jar*
*.*db
*.zip
*.gz
*.schematic
*.bd
*.schem
*.env
pkcs.p12
*.key
/logs/*
*.log*
.vscode
.local
.cache
.ssh
.vscode-server
cache
libraries
TFB-**/logs/
/FlameCord
/pluGET
*/banned-ips.json
*/plugins/LuckPerms/editor-keystore.json
*/plugins/BuycraftX/config.properties
.vscode/sftp.json
*/plugins/Essentials/userdata/*
*/plugins/EssentialsGeoIP/config.yml
*/plugins/Parkour/players/*
.github/workflows/scripts/livevalues.yml
/*/world*/
**/.gradle
*build/
**/gradle.properties
**/plugins/ChatControlRed/log.csv
**/plugins/Vulcan/violations.txt
**/ImageOnMap/images/*
**/plugins/Essentials/usermap.csv
**/plugins/Vulcan/punishments.txt
**/plugins/Vulcan/violations.txt
**/crash-reports/**
**/plugins/Multiverse-Core/worlds.yml
TFB-*/plugins/VotingPlugin/ServerData.yml
TFB-*/plugins/ProtocolLib/lastupdate
TFB-*/plugins/VotingPlugin/nonvotedplayerscache.yml
TFB-*/plugins/Plan/serverConfiguration/*.yml
TFB-*/plugins/LibsDisguises/internal.yml
TFB-*/plugins/ProtocolLib/lastupdate
TFB-*/usercache.json
