*.jar*
*.*db
*.zip
*.gz
*.schematic
*.schem
pkcs.p12
*.key
/logs/*
*.log*
.vscode
.local
.cache
.ssh
.vscode-server
cache
libraries
logs/
/FlameCord
/pluGET
*/plugins/LuckPerms/editor-keystore.json
*/plugins/BuycraftX/config.properties
.vscode/sftp.json
*/plugins/Essentials/userdata/*
*/plugins/EssentialsGeoIP/config.yml
