name: Build and Deploy

on:
  workflow_call:
    secrets:
      MAVEN_URL:
        required: true
      MAVEN_USERNAME:
        required: true
      MAVEN_PASSWORD:
        required: true
      DOCKER_PASSWORD:
        required: true
      DOCKER_USERNAME:
        required: true
      DOCKER_REGISTRY:
        required: true
      DOCKER_REPO:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository containing the shared Dockerfile
      - name: Checkout shared Dockerfile repository
        uses: actions/checkout@v3
        with:
          repository: theflyingbirdsmc/TFB-Network
          path: TFB-Network

      # Check out the Minecraft server repository
      - name: Checkout Minecraft server repository
        uses: actions/checkout@v3
        with:
          path: server


      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Execute Gradle build
        env:
          MAVEN_URL: ${{ secrets.MAVEN_URL }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
        run: cd ${{ github.workspace }}/server && gradle update --no-build-cache

      # Set up Docker
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3

      # Build TFB Docker image
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_REPO }}/${{ github.event.repository.name }}:latest -f ${{ github.workspace }}/TFB-Network/.github/docker/Dockerfile ${{ github.workspace }}/server --no-cache
      
      # Login to Nexus Artifactory
      - name: Login to Nexus Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push Docker image
      - name: Build and push Docker image
        run: docker push ${{ secrets.DOCKER_REPO }}/${{ github.event.repository.name }}:latest